apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: go-ghantt-data
  namespace: go-ghantt
  labels:
    app: go-ghantt
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-path
